<div class="sidebar">
    <header class="top-bar">
        <a href="/"><h4 class="top-bar__logo" id="logo">Matthew Brann</h4></a>
    </header>

    <nav class="noSelect">
        <div class="menu">
            {{ menu-composer currentPage projectList}}
        </div>
        <a href="about.html" class="contact"><h4>ABOUT</h4></a>
    </nav>
</div>